.input_div {
    margin-top: 20px;
    border-radius: 25px;
    box-shadow: 2px 4px 6px #333;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
  }
  
  .input_div input {
      border: 1px;
      border-color: #00CEC8;
      outline: none;
      background: none;
      font-size: 18px;
      color: #555;
      padding: 20px 10px 20px 5px;
      text-align: center;
      width: 100%;
    }