.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-top: 25px;
  height: 40px;
  border: #00cec8;
  border-radius: 25px;
  background-color: #00cec8;
  gap: 15px;
  color: #ffffffff;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 2px 4px 6px #333;

}